numpy
pandas
matplotlib
seaborn
scikit-learn
pathlib
opencv-python
IPython
statistics
pillow
japanize_matplotlib
jupyter-kite
selenium 
beautifulsoup4
lxml
chromedriver-binary
mysql-connector-python
sqlalchemy
xlrd